{{- $url := .Destination -}}
{{- $alt := .PlainText -}}
{{- $title := .Title -}}

{{- $isYouTube := or (strings.Contains $url "youtube.com/watch") (strings.Contains $url "youtu.be/") (strings.Contains $url "youtube.com/embed/") -}}

{{- if $isYouTube -}}
  {{- $videoId := "" -}}
  
  {{- if strings.Contains $url "youtube.com/watch" -}}
    {{- $parsedUrl := urls.Parse $url -}}
    {{- $videoId = $parsedUrl.Query.Get "v" -}}
  {{- else if strings.Contains $url "youtu.be/" -}}
    {{- $parsedUrl := urls.Parse $url -}}
    {{- $videoId = strings.TrimPrefix $parsedUrl.Path "/" -}}
    {{- $videoId = strings.Split $videoId "?" | first -}}
  {{- else if strings.Contains $url "youtube.com/embed/" -}}
    {{- $parsedUrl := urls.Parse $url -}}
    {{- $videoId = strings.TrimPrefix $parsedUrl.Path "/embed/" -}}
    {{- $videoId = strings.Split $videoId "?" | first -}}
  {{- end -}}
  
  {{- if $videoId -}}
    <div style="text-align: center; margin: 1rem 0;">
  <iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/{{ $videoId }}" 
    title="{{ if $title }}{{ $title }}{{ else if $alt }}{{ $alt }}{{ else }}YouTube video player{{ end }}" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen>
  </iframe>
</div>
  {{- else -}}
    {{/* Fallback to regular image if video ID extraction fails */}}
    <img src="{{ $url }}" alt="{{ $alt }}"{{ with $title }} title="{{ . }}"{{ end }} />
  {{- end -}}
{{- else -}}
  {{/* Regular image processing */}}
  <img src="{{ $url }}" alt="{{ $alt }}"{{ with $title }} title="{{ . }}"{{ end }} />
{{- end -}}