{{- $url := .Destination -}}
{{- if strings.Contains $url "youtube.com/watch?v=" -}}
  {{- $videoID := "" -}}
  {{- $params := "" -}}
  {{- if strings.Contains $url "?" -}}
    {{- $parts := split $url "?" -}}
    {{- if gt (len $parts) 1 -}}
      {{- $params = index $parts 1 -}}
    {{- end -}}
  {{- end -}}
  {{- range split $params "&" -}}
    {{- if hasPrefix . "v=" -}}
      {{- $videoID = strings.TrimPrefix . "v=" -}}
    {{- end -}}
  {{- end -}}
  {{- if $videoID -}}
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
      <iframe src="https://www.youtube.com/embed/{{ $videoID }}" 
              style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
              frameborder="0" 
              allowfullscreen>
      </iframe>
    </div>
  {{- else -}}
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" />
  {{- end -}}
{{- else if strings.Contains $url "youtu.be/" -}}
  {{- $videoID := strings.TrimPrefix (path.Base $url) "/" -}}
  {{- if strings.Contains $videoID "?" -}}
    {{- $videoID = index (split $videoID "?") 0 -}}
  {{- end -}}
  {{- if $videoID -}}
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
      <iframe src="https://www.youtube.com/embed/{{ $videoID }}" 
              style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
              frameborder="0" 
              allowfullscreen>
      </iframe>
    </div>
  {{- else -}}
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" />
  {{- end -}}
{{- else -}}
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" />
{{- end -}}